<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布 - 码农论坛</title>
    <script th:src="@{/js/jquery-3.6.0.min.js}" type="application/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
</head>
<body>
<!--导航条-->
<div th:insert="navigation :: nav"></div>

<!--内容-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发布帖子</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">帖子标题：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="帖子标题..." th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="description">具体内容：</label>
                    <textarea class="form-control" id="description" name="description" cols="30" rows="10" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签，以英文逗号隔开..." th:value="${tag}">
                </div>

                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}" th:if="${error} != null"></div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">发布</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>发布帖子指南</h3>
            <b>帖子标题：</b>尽量精简<br>
            <b>具体内容：</b>清晰的描述<br>
            <b>标签选择：</b>一个或多个，使用英文逗号分隔，每个标签不超过10个字
        </div>
    </div>
</div>
</body>
</html>